body{
    background-color:  	#baca44;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.card_color{
    background-color: #fae8d2;
}

#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #eeeed2
  }
  .dropdown-item:hover{
    color: black;
    background-color: #b9e2f5;   
  }
  a.navbar-brand {
    color: #eeeed2
  }

  #turn{
    max-width: 451px ;
    max-height: 30px;
    width: 100%;
    height:100%;
    position: relative;
    float: left;
    border-right: 5px;
    border: 1px solid black;
    border-style: inset;
    text-align: center;
    background-color: #fae8d2;
    transition: 0.85s;
  }

  .turnheightlight{
    background: #fae8d2;
  }

  #game{
    max-height: 504px;
    max-width: 504px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;  
  }

  .cellprefix{
    
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 50px;
    float: left;
    margin: 3px;
    padding: 15px 0 0 20px;
  }
